@import "~antd/dist/antd.css";

.App {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}

.search {
  grid-area: 1 / 1 / 2 / 3;
}
.results {
  grid-area: 2 / 2 / 3 / 3;
}
.filters {
  grid-area: 2 / 1 / 3 / 2;
}
